<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script>
        function start() {
            $.ajax({
                type: "GET",
                url: "/User/GetCurrentUser",
                datatype: "json",
                success: function (data) {
                    if (data.currentUser != null) {
                        $("#userName").text("Your are logged in as " + data.currentUser + " with User Id: " + data.currentUserId + " as Role: " + data.currentUserRole);
                    }
                    else {
                        console.log("No user received");
                    }
                },
                error: function (data) {
                    console.log("No user received");
                }
            });
        }
    </script>
</head>
<body onload="start()">
    <h2>Admin Page</h2>
    <p id="userName">You are logged in as </p>
    <a href="/Student/Register">Student Registration</a>
    <a href="/User/Register">User Registration</a>
    <a href="/User/Login">User Login</a>
</body>
</html>