<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/register.css">
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="~/Scripts/User/login.js" type="text/javascript"></script>
</head>
    <body>
        <div id="header">Login</div>
        <form>
            <div id="form">
                <div id="email-login">
                    <label id="emailform" class="formlabel" for="email">Email</label>
                    <input id="email" class="input" type="email" placeholder="Enter Email" onfocusout="validateEmail()" required />
                </div>
                <div id="password-login">
                    <label id="passwordform" class="formlabel" for="password" >Password</label>
                    <input id="password" class="input" type="password" placeholder="Enter Password" onfocusout="validatePassword()" required />
                </div>
                <div id="login-section"> <button id="submit-button" type="button" onclick="loginUser()">Login</button></div>
            </div>
        </form>
        <div id="otherpage"><p>Don't have an account ?</p><a href="/User/Register">Register</a></div>
    </body>
</html>
