<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/Content/register.css">
        <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script>
            function loginUser() {

                var email = $("#email").val();
                var password = $("#password").val();

                console.log(email, password);
                var user = {
                    Email: email,
                    Password: password
                }
                $.ajax({
                    type: "POST",
                    url: "/User/CheckUser",
                    data: user,
                    dataType: "json",
                    success: function (data) {
                        if (data.url) {
                            window.location = data.url;
                        }
                        else if (data.error) {
                            alert(data.error);
                        }

                    }, error: function () {
                        console.log("Error");
                    }
                });

            }
            function buttonclick() {
                alert("button");
            }
        </script>

    </head>
    <body>
        <div id="header">Login</div>
        <form>
            <div id="form">
                <div id="email-login">
                    <label id="emailform" class="formlabel" for="email">Email</label>
                    <input id="email" class="input" type="email" placeholder="Enter Email" required />
                </div>
                <div id="password-login">
                    <label id="passwordform" class="formlabel" for="password">Password</label>
                    <input id="password" class="input" type="password" placeholder="Enter Password" required />
                </div>
                <div id="login-section"> <button id="submit-button" type="button" onclick="loginUser()">Login</button></div>

            </div>

        </form>
        <div id="otherpage"><p>Don't have an account ?</p><a href="/User/Register">Register</a></div>
    </body>
</html>
