<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page</title>
    </head>
    <body>
        <script>

        </script>
        <h2>Welcome</h2>

        <p id="UserName">You are logged in as </p>
        <a href="/Student/RegisterStudent">Student Registration</a>
        <a href="/User/Register">User Registration</a>
        <a href="~/User/UserLogin">User Login</a>
    </body>
</html>