@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    background: #005c97;
    background: linear-gradient(to right, #4648dd, #0080cf);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-box {
    background-color: #fff;
    padding: 40px;
    min-width: 60%;
    max-width: 70%;
    border-radius: 7px;
    box-shadow: 5px 5px 20px black;
    
}

.main-box .title {
    font-size: 28px;
    text-align: center;
    padding: 15px 0;
}

.main-box .subtitle {
    font-size: 24px;
    text-align: left;
    padding: 15px 0;
    padding-bottom: 0;
}

.main-box .input-box {

    position: relative;
    margin-bottom: 15px;
}

.main-box .input-box .input {
    border: none;
    border-bottom: 1px solid #efefef;
    background-color: #ececec;
    outline: none;
    width: 100%;
    padding: 14px 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.main-box .input-box label {
    position: absolute;
    top: 20px;
    left: 5px;
    padding: 14px 5px;
    display: block;
    pointer-events: none;
    transition: 0.2s;
}

.main-box .input-box input:focus ~ label,
.main-box .input-box input:valid ~ label {
    top: -20px;
    left: 2px;
    font-size: 14px;
}

.main-box button {
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    background: #396afc;
    background: linear-gradient(to right, #2948ff, #396afc);
    margin-top: 30px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
}
#add-subject, #remove-subject{
    margin-top: 5px;
}
.main-box select {
    border: none;
    border-bottom: 1px solid #efefef;
    background-color: #ececec;
    outline: none;
    width: 100%;
    padding: 14px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}
.main-box .auth-action {
    display: flex;
    justify-content: space-between;
}

.main-box .auth-action a {
    display: inline-block;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}


.options{
    display:flex;
}

#top-section{
    display: flex;
}

#name{
    width: 50%;
    margin: 10px;
}
#details{
    width:50%;
    margin: 10px;
}

@media screen and (max-width: 750px) {

 #top-section{
     display: block;
 }

    #name {
        width: 100%;

    }

    #details {
        width: 100%;

    }

}

