<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
    <link rel="stylesheet" href="~/Content/Student/detail.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="~/Scripts/Student/detail.js" type="text/javascript"></script>

</head>
    <body onload="loadUser()">
        <div class="main-box">
            <div class="title">
                <h1>Student Details</h1>
            </div>
            <div class="subtitle">
                <div>Status</div>
                <div class="data" id="status"></div>
            </div>
            <div class="subtitle">
                <div>Name</div>        
                <div class="data" id="name"></div>
            </div>
            <div class="subtitle">
                <div>Nid</div>  
                <div class="data" id="nid"></div>
            </div>
            <div class="subtitle">
                <div>Guardian</div>
                <div class="data" id="guardianname"></div>
            </div>
            <div class="subtitle">
                <div>Email</div>
                <div class="data" id="email"></div>
            </div>
            <div class="subtitle">
                <div>Phone Number</div>
                <div class="data" id="phonenumber"></div>
            </div>
            <div class="subtitle">
                <div>UserID</div>
                <div class="data" id="userid"></div>
            </div>
            <button onclick="Logout()">Logout</button>
        </div>
    </body>
</html>
