<!DOCTYPE html>
<html>
<head>
    <title>Register Student</title>
    <link rel="stylesheet" href="~/Content/register.css">
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script>
        function registerStudent() {
            var fname = $("#firstname").val();
            var lname = $("#lastname").val();
            var nid = $("#nid").val();
            var email = $("#email").val();
            var phonenumber = $("#phonenumber").val();
            var guardianname = $("#guardianname").val();
            var dob = $("#dob").val();

            var subject1 = $("#subject1").val();
            var subject2 = $("#subject2").val();
            var subject3 = $("#subject3").val();

            var grade1 = $("#grade1").val();
            var grade2 = $("#grade2").val();
            var grade3 = $("#grade3").val();
            

            console.log(fname, lname, nid, email, phonenumber, guardianname, subject1, grade1, subject2, grade2, subject3, grade3, dob);
            var student = {
                NID: nid,
                FirstName: fname,
                LastName: lname,
                Email: email,
                PhoneNumber: phonenumber,
                GuardianName: guardianname,
                DateOfBirth: dob,
                Subjects: [subject1, subject2, subject3],
                Grades: [grade1, grade2, grade3]
            };

            console.log(student);
            $.ajax({
                type: "POST",
                url: "/Student/Register",
                data: student,
                success: function (data) {
                    if (data.url) {
                        console.log("added student");
                        window.location = data.url;
                    }
                    if (data.error) {
                        alert(data.error);
                    }
                    
                },
                error: function () {
                    console.log("What broke ?, Your soul did");
                }
            });

        }
        function fillList() {

            var numberofinput = 3;
            $.ajax({
                type: "POST",
                url: "/Student/GetSubjects",
                data: "",

                success: function (data) {

                    var jsonSubjects = JSON.parse(data);
                    console.log(jsonSubjects);

                    $.each(jsonSubjects, function (key, value) {
                        for (let i = 0; i < numberofinput; i++) {
                            $("#subject" + (i + 1)).append("<option value=" + value.SubjectId  + ">" + value.SubjectName + "</option>");
                        }
                        //console.log(value);
                    });
                }, error: function () {
                    console.log("Error");
                }
            });
            $.ajax({
                type: "POST",
                url: "/Student/GetGrades",
                data: "",
                success: function (data) {
                    var jsonGrades = JSON.parse(data);
                    console.log(jsonGrades);
                    $.each(jsonGrades, function (key, value) {
                        for (let i = 0; i < numberofinput; i++) {
                            $("#grade" + (i + 1)).append("<option value=" + value.Grade + ">" + value.Grade + "</option>")
                        }
                    });
                }
            });
        }
    </script>
</head>
    <body onload="fillList()">
        <div id="header">Register Student</div>
        
            <form>
                <div id="form">
                    <div id="name" class="section">
                        <div class="sectionheader">Name</div>
                        <label id="firstnamelabel" class="formlabel" for="firstname">Enter Name</label>
                        <input id="firstname" class="input" name="firstname" placeholder="Enter Name" required />
                        <label id="lastnamelabel" class="formlabel" for="lastname">Enter Surname</label>
                        <input id="lastname" class="input" name="lastname" placeholder="Enter Surname" required />

                    </div>

                    <div id="details" class="section">
                        <div class="sectionheader">Details</div>
                        <label id="nidlabel" class="formlabel" for="nid">Enter NID</label>
                        <input id="nid" class="input" name="nid" placeholder="Enter NID" required />
                        <label id="doblabel" class="formlabel" for="dob">Enter Date of Birth</label>
                        <input id="dob" name="dob" class="input" type="date" />
                    </div>
                    <div id="contactdetails" class="section">
                        <div class="sectionheader">Contact Information</div>
                        <label id="emaillabel" class="formlabel" for="email">Enter Email</label>
                        <input id="email" class="input" name="email" placeholder="Enter Email" required />
                        <label id="phonenumberlabel" class="formlabel" for="phonenumber">Enter Phone Number</label>
                        <input id="phonenumber" class="input" name="phonenumber" placeholder="Enter Phone Number" required />
                        <label id="guardiannamelabel" class="formlabel" for="guardianname">Enter Guardian Name</label>
                        <input id="guardianname" class="input" name="guardianname" placeholder="Enter Guardian Name" required />
                    </div>


                    <div id="results" class="section">
                        <div class="sectionheader">Results</div>
                        
                        <div>
                            <select id="subject1" class="subject-input"></select>
                            <select id="grade1" class="grade-input"></select>
                        </div>
                        <div>
                            <select id="subject2" class="subject-input"></select>
                            <select id="grade2" class="grade-input"></select>
                        </div>
                        <div>
                            <select id="subject3" class="subject-input"></select>
                            <select id="grade3" class="grade-input"></select>
                        </div>

                    </div>                
                    <input id="registerbutton" type="button" onclick="registerStudent()" value="Register" />
                    
                </div>
            </form>

     
    </body>
</html>
