body {
}
#header {
    text-align: center;
    color: white;
    font-size: 54px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7%;
    background-color: #3366ff;
    margin: 0;
}

.section {
    /*    width: 80%;
    padding: 5%;*/
    flex: 50%;
    display:flex;
    flex-direction: column;

    
}
#form {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;

    flex: 80%;

}
#name{
    order: 1;
    
}

#details {
    order: 2;

}

#contactdetails {
    order: 3;

}

#results {
    order: 4;

}
#resultsinput{
    display: flex;
    flex-direction: column;
    width: 90%;
   

}
#submit-section {
    order: 5;
    flex: 100%;
    display: flex;
}

.inputsection{
    display: flex;
}
.formlabel {
    font-size: 16px;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin: 5px;
    margin-left: 10px;
    flex: 20%;
    max-width: 100px;
}
.input {
    min-height: 30px;
/*    width: 90%;*/
    margin-left: 1%;
    align-self: center;
    flex:80%;
    margin-right: 20px;
}

.resultsection{
    display: flex;
    flex: 100%;
    align-items: self-end;
}
.subject-input {
    flex: 70%;
}

.grade-input {
   flex: 30%;
}
 #registerbutton {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    min-height: 50px;
    background-color: #3366ff;
    color: white;
    border-color: Background;
    font-size: 20px;
    border-radius: 50px;
}

#email-login {
    display: inline-grid;
    grid-row: 1;
    margin: 2%;
}

#password-login {
    display: inline-grid;
    grid-row: 2;
    margin: 2%;
}

.sectionheader {
    font-size: 22px;
    width: 100%;
    font-weight: bold;
    color: #3366ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    text-align: center;
}

/*input:invalid{
    border: 2px solid red;
}
input:valid{
    
}*/
select{
    font-size: 16px;
    min-height: 40px;
    margin-top: 10px;
    text-align: center;
}


#loginform{
    display: grid;
    width: 60%;
    margin: auto;
}
#email-login, #password-login{
    width: 75%;
    margin: auto;
}
#passwordform, #emailform{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#email, #password{
    
}
#registersection{
    display: inline-grid;
    grid-row: 3;
    width: 50%;
    margin: auto;
}
#submit-button {
    min-height: 50px;
    margin-top: 20px;
    background-color: #3366ff;
    color: white;
    border-color: Background;
    font-size: 20px;
    border-radius: 50px;
}

#login-section {
    display: inline-grid;
    grid-row: 3;
    width: 50%;
    margin: auto;
}

#otherpage {
    width: 100%;
    margin: auto;
    text-align:center;
    font-size: 16px;
    
}
.invalid{
    border: 1px solid red;
}
@media (max-width: 600px) {
    body {
        background-color: gray;
    }
    .section {
        flex: 100%;
    }
}